<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Password</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

      
 
 
</head>
<body ng-app="myApp" ng-controller="myControl">


 

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      
      <div class="modal-body">
       
         <ng-form name="form">
          <div class="form-group">
        <!--  <br> -->
          <label class="">Email<span style="color:red;">*</span></label>
        <!--  <input type="email" name="emailId"  ng-model="emp.emailId" country  > -->
        <input type="email" name="emailId" placeholder="Enter Email" class="form-control" ng-model="emailId" country ng-required="true"/>
                 <span style="color:black;" ng-show="form.emailId.$pending.country">Checking ....</span>
        <span style="color:orange;" ng-show="form.emailId.$error.country">Email Not Exist</span>


              <div ng-show="form.$submitted || form.emailId.$touched">
                <span style="color:orange" ng-show="form.emailId.$error.required"> Please Enter EmailId </span>
              <span style="color:orange" class="error" ng-show="form.emailId.$error.email">Not valid email!</span>
               </div>
               
             
          </div>

         
 <div class="form-group text-right">
  <button class="btn btn-success" ng-disabled="form.$invalid" ng-click="sub()" >Submit</button>
 </div>



        </ng-form>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default clo" >Close</button>
      </div>
    </div>

  </div>
</div>

<div class="message"></div>
</body>
<script type="text/javascript">

    
$(".message").load("html/messageAlert.html");
           
$(".clo").click(function(){
  $("#myModal").modal('hide');
 console.log("Going to close");
window.location.href="/actnow-claims-1.0.0/"
});
 $(document).ready(function(){
    $("#myModal").modal();
  })

  angular.module('myApp', [])
  .controller('myControl', function($scope,$http,$q) {
   
      /*Start of sub*/
    $scope.sub=function(){
    console.log("Got"+$scope.emailId);

 $http({
        method :"POST",
        url : "/actnow-claims-1.0.0/actnow/employees/forgotPassword",
        data:{
            "emailId":$scope.emailId
              },
 headers: { 'Content-Type': 'application/json'}
    }).then(function mySuccess(response) {
        console.log(response.data);
         $(".modal-body-result").html("<div class='alert alert-success'> <strong> Submission successfully</strong></div>");
                    $("#myModal3").modal();
    }, function myError(response) {
        console.log(response.data);
         $(".modal-body-result").html("<div class='alert alert-danger'> <strong> Submission Failed</div>");
                    $("#myModal3").modal();
                   
    });





    }
/*End of sub*/


})
  /*Email validation start*/
.directive('country', function ($q, $timeout,$http) {
        return {
            require: 'ngModel',
            link: function (scope, element, attributes, control) {
                // temporary data from local variable
            //    var countryNames = ['India', 'USA', 'Canada'];
                control.$asyncValidators.country = function (modelValue, viewValue) {
                    if (control.$isEmpty(modelValue)) {
                        return $q.when();
                    }
                    
                    var defer = $q.defer();

                    // to imitate the behavior of service access
                    // In real time, fire $http and get value then validate
                  /*  $timeout(function () {
                        if (countryNames.indexOf(modelValue) === -1) // not found
                        {
                            defer.resolve(); // wow, this country available
                        }
                        else
                        {
                            defer.reject();
                        }
                    }, 1000);*/

var tempArr=[];
                    $http({
        method : "GET",
        url : " /actnow-claims-1.0.0/actnow/employees/"
    }).then(function mySuccess(response) {

      angular.forEach(response.data,function(value,key){

        var email=value.emailId;
        tempArr.push(email);

        
       });/*End of loop*/
console.log(tempArr);
 if (tempArr.indexOf(modelValue) === -1) // not found
                        {
                           defer.reject();
                            
                            // wow, this country available
                        }
                        else
                        {
                           defer.resolve();
                             
                             
                            console.log("success");
                        }
      })
      
                   // console.log(modelValue+"    "+viewValue);

                    return defer.promise;
                };
            }
        };
    })
                  
 /*Email validation end*/

</script>
</html>